@font-face {
    font-family: '宋体', Arial, sans-serif;
    /*src: url('../lib/font-33481/Iansui0.91-Regular-2.ttf');*/
}

body {
    height: 100%;
    background-image: url('../pictrues/blob-scene-haikei.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "main";
    font-size:large;
    letter-spacing:3px;
    line-height:1.5;
}

.myfooter {
    background-color: #333;
    color: white;
    padding: 20px 0px;
    text-align: center;
    box-sizing: content-box;
    display: block;
    width:100%;
}

    .myfooter a {
        color: white;
        text-decoration: none;
    }

    .myfooter a:hover {
        text-decoration: underline;
    }

/* This was made with GlassGenerator.netlify.app */

.glass-container {
    border-radius: 0px;
    backdrop-filter: blur(20px);
    background-color: rgba(197,164,155, 0);
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
    border: 2px rgba(255,255,255,0.4) solid;
    border-bottom: 2px rgba(40,40,40,0.35) solid;
    border-right: 2px rgba(40,40,40,0.35) solid;
}

/* This was made with GlassGenerator.netlify.app */

.glass-item {
    border-radius: 10px;
    backdrop-filter: blur(0px);
    background-color: rgba(255,231,224, 0.5);
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
    border: 2px rgba(255,255,255,0.4) solid;
    border-bottom: 2px rgba(40,40,40,0.35) solid;
    border-right: 2px rgba(40,40,40,0.35) solid;
}

.layui-input,.layui-textarea{
    background-color:rgba(255,255,255,0.5);
}
