@model UserLoginDto
@{

}

<div class="layui-col-md10 layui-col-md-offset1 layui-panel" style="padding:32px; min-height: 100%;height: 100%;">
    <form asp-controller="Admin" asp-action="Login" class="layui-form">
        <div asp-validation-summary="ModelOnly"></div>


        <div class="layui-form-item">
            <label class="">
                @Html.DisplayNameFor(model => model.UserName)
                <input class="layui-input" type="text" asp-for="UserName" />
            </label>
            <span asp-validation-for="UserName" class="layui-font-red"></span>
        </div>

        <div class="layui-form-item">
            <label class="">
                @Html.DisplayNameFor(model => model.Password)
                <input class="layui-input" type="text" asp-for="Password" />
            </label>
            <span asp-validation-for="Password" class="layui-font-red"></span>
        </div>

        <div class="layui-form-item">
            <button type="submit" class="layui-btn layui-btn-primary layui-border-green" style="margin:16px 8px;">登录</button>
        </div>
    </form>

    <div>
        <a asp-controller="Blog" asp-action="Index">返回列表</a>
    </div>
</div>