<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CyanBlog</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CyanBlog.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/layui/css/layui.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/editor.md-master/css/editormd.min.css" />
    <link rel="stylesheet" href="~/css/Global.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/github-markdown.css" asp-append-version="true"/>
</head>
<body>
    <div class="layui-row layui-panel glass-item" style="margin-bottom:32px;">
        <div class="layui-col-md12" style="text-align: center;">
            <ul id="nav" class="layui-nav " style="background-color: rgba(0,0 , 0, 0);">
                <li class="layui-nav-item">
                    <a asp-controller="Blog" asp-action="Index" class="layui-font-black layui-font-18">博客</a>
                </li>
                <li class="layui-nav-item">
                    <a asp-controller="Classify" asp-action="Index" class="layui-font-black layui-font-18">分类</a>
                </li>
                <li class="layui-nav-item">
                    <a asp-controller="Blog" asp-action="TimeLine" class="layui-font-black layui-font-18">时间线</a>
                </li>
                <li class="layui-nav-item">
                    <a asp-controller="Message" asp-action="Index" class="layui-font-black layui-font-18">留言</a>
                </li>
                <li class="layui-nav-item">
                    <a asp-controller="Friends" asp-action="Index" class="layui-font-black layui-font-18">友链</a>
                </li>
                @* <li class="layui-nav-item">
                    <a href="#" class="layui-font-black layui-font-18">更多</a>
                    <dl class="layui-nav-child  glass-item" >
                        <dd style="z-index:9999;">
                            <a href="#" class="layui-font-black">
                                <i class="layui-icon layui-icon-email layui-font-18"></i></a></dd>
                        <dd style="z-index:9999;">
                            <a href="#" class="layui-font-black">
                                <i class="layui-icon layui-icon-github layui-font-18"></i></a></dd>
                        <dd style="z-index:9;">
                            <a href="#" class="layui-font-black">
                                <i class="layui-icon layui-icon-login-qq layui-font-18"></i></a></dd>
                    </dl>
                </li> *@
            </ul>
        </div>
    </div>
    <main class="layui-row" style="min-height: 100vh;">
            @RenderBody()
    </main>
    <footer class="layui-row myfooter" style="color:#c2c2c2;">
        <div class="layui-col-md12">
            &copy; 2024 - hollow-264的个人博客，保留所有权利。未经授权请勿转载。欢迎分享，但请注明出处，并链接到原文。<br />
            <i class="layui-icon-login-qq layui-icon"></i>3358529041
            <i class="layui-icon layui-icon-email"></i>bule.craete@foxmail.com
            <i class="layui-icon layui-icon-github"></i><a href="https://github.com/264player">264player</a><br />
            免责声明：本站部分内容可能包含第三方链接，本博客对其内容不承担责任。
        </div>
    </footer>

    <script src="~/lib/layui/layui.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
