@{
    ViewData["Title"] = "首页";
}
@model List<Blog>;

<div class="layui-col-md8 layui-col-md-offset2 layui-panel glass-container" style="padding:32px;margin-bottom:32px; min-height: 100%;height: 100%;">
    @foreach (Blog blog in Model)
    {
        <div class="layui-panel glass-item" style="margin-bottom: 32px;">
            <div style="padding: 32px;">
                <h2><a asp-controller="Blog" asp-action="Details" asp-route-id="@blog.BlogID">@blog.Title</a></h2>
                <p>@blog.Description</p>
            </div>
        </div>
    }
</div>