@model List<Blog>
@{
    ViewData["Title"] = "时间线";
}

<div class="layui-col-md10 layui-col-md-offset1" style="min-height: 100%;height: 100%;">
    <div class="layui-row">
        <div class="layui-col-md8 layui-col-md-offset2 layui-panel  glass-container" style="margin-bottom:32px;padding:32px;">
            <div class="layui-timeline" style="padding-top:32px;">
                <div class="layui-timeline-item">
                    <i class="layui-timeline-axis layui-icon"></i>
                    <div class="layui-timeline-content">
                        <h3 class="layui-timeline-title">即将到来的明日</h3>
                    </div>
                </div>
                @foreach(Blog blog in Model)
                {
                    <div class="layui-timeline-item">
                        <i class="layui-timeline-axis layui-icon"></i>
                        <div class="layui-timeline-content">
                            <p class="layui-timeline-title">@blog.CreateTime.ToString("yyyy年MM月dd日")</p>
                            <a asp-controller="Blog" asp-action="Details" asp-route-id="@blog.BlogID"><h3>@blog.Title</h3></a>
                        </div>
                    </div>
                }
                <div class="layui-timeline-item">
                    <i class="layui-timeline-axis layui-icon"></i>
                    <div class="layui-timeline-content">
                        <h3 class="layui-timeline-title">已经逝去的昨日</2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
