@{
    ViewData["Title"] = "Home Page";
}

<div class="layui-row" style="min-height: 100%;height: 100%;">
    <div class="layui-col-md10 layui-col-md-offset1" style="min-height: 100%;height: 100%;">
        <div class="layui-panel" style="margin: 32px;">
            <div style="padding: 32px;">
                <h2><a href="#">测试博客标题</a></h2>
                <p>测试博客详情测试博客详情测试博客详情测试博客详情测试博客详情测试博客详情测试博客详情测试博客详情测试博客详情测试博客详情测试博客详情测试博客详情测试博客详情测试博客详情测试博客详情测试博客详情测试博客详情测试博客详情测试博客详情测试博客详情测试博客详情测试博客详情测试博客详情测试博客详情</p>
            </div>
        </div>
        <div class="layui-panel" style="margin: 32px;">
            <div style="padding: 32px;">面板任意内容</div>
        </div>
        <div class="layui-panel" style="margin: 32px;">
            <div style="padding: 32px;">面板任意内容</div>
        </div>
        <div class="layui-panel" style="margin: 32px;">
            <div style="padding: 32px;">面板任意内容</div>
        </div>
        <div class="layui-panel" style="margin: 32px;">
            <div style="padding: 32px;">面板任意内容</div>
        </div>
    </div>
</div>
